{
  "singleQuote": true,
  "jsxSingleQuote": true,
  "arrowParens": "always",
  "printWidth": 140,
  "max-len": ["error", 140, 2],
  "tabWidth": 2,
  "useTabs": false,
  "importOrder": ["^@core/(.*)$", "^@ui/(.*)$", "^@server/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "trailingComma": "es5",
  "endOfLine": "lf"
}
